* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100vh;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 935px;
    width: 100%;
    height: 83.5vh;
    margin: 0 auto;
    padding-right: 17px;
}

.instagram-phone {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-image: url(img/smartphones.png);
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    -webkit-flex-basis: 380.32px;
    -ms-flex-preferred-size: 380.32px;
    flex-basis: 380.32px;
    height: 581.15px;
    margin-bottom: 12px;
    margin-right: 32px;
}
#slideshow {
    height: 10px;
    position: relative;
}

#slideshow img {
    position: absolute;
    width: 250px;
    height: 540px;
    top: 27px;
    left: 113px;
}
  
.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    min-height: 34rem;
    padding-bottom: 2rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 3rem;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3.7rem;
    margin-bottom: 1rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    margin-bottom: 15px;
}
footer nav ul {
    text-align: center;
}
footer nav ul li {
    display: inline;
}
footer ul li a {
    color: #8e8e8e;
    font-size: 12px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
}
.footer-copy select {
    cursor: pointer;
    opacity: 0.4;
    margin-right: 10px;
    border: 0;
    font-size: 12px;
}
.footer-copy select:focus-visible {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.footer-copy option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.footer-copy p {
    font-size: 12px;
}

/* media queries */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
        margin-top: 4rem;
    }
    .instagram-phone {
        background-size: 450.00px 630.00px;
    }
    #slideshow img {
        width: 245px;
        height: 535px;
        top: 25px;
        left: 103px;
    }
    footer {
        margin-top: 5rem;
    }
}

@media (max-width: 860px) {
    .instagram-phone {
        display: none;
    }
    .instagram-wrapper {
        margin-top: 4rem;
    }
    footer {
        margin-top: 0;
    }
    footer nav {
        width: 80%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}